div {
    background-color: blue;
    font-color: black;
    text-align: center;
    font-weight: bold;
}
p{
    background-color: aliceblue;
    margin-left: 100px;
}
button{
    background-color: orange;
    font-size: 18px;
    margin-bottom: auto;
}